a {
	color: #C8012E;
}
a:hover {
	color: #C8012E;
}
.wbNavMenu ul li a.active, .wbNavMenu ul li a:hover {
	color: #C8012E;
    border-bottom-color: #C8012E;
}
.wbNavMenu ul li a.active i:before, .wbNavMenu ul li a:hover i:before {
	color: #C8012E;
}
.wbButton {
	background-color: #C8012E;
}
.wbBookAppointment .wbAppoCallField li input[type=checkbox]:checked, .wbBookAppointment .wbAppoCallField li input[type=radio]:checked {
	background-color: #C8012E;
}
.wbSelectDate ul li input[type=checkbox]:checked~span, .wbSelectDate ul li input[type=checkbox]:checked~span .date, .wbSelectDate ul li input[type=radio]:checked~span, .wbSelectDate ul li input[type=radio]:checked~span .date {
	color: #C8012E;
}
.wbSelectDate ul li input[type=checkbox]:checked~span, .wbSelectDate ul li input[type=checkbox]:checked~span .date, .wbSelectDate ul li input[type=radio]:checked~span, .wbSelectDate ul li input[type=radio]:checked~span .date {
	color: #C8012E;
}
.wbSlotTiming li input[type=checkbox]:checked~span, .wbSlotTiming li input[type=radio]:checked~span {
	color: #C8012E;
}
.side-sticky-btn {	
    background: #F5DCE2;
    color: #C8012E;
}
.side-sticky-btn span {
	background-color: #C8012E;
}
.wbViewAll {
	color: #C8012E;
}
.wbViewAll .icon-cal-right-arrow:before {
	color: #C8012E;
}
.wbContactUsSec .wbInputField input:hover, .wbContactUsSec .wbInputField textarea:hover {
	border-color: #C8012E;
}
.wbShare .icon-share:before {
	color: #C8012E;
}
.wb_radio .wb_control__indicator:after {
	background: #C8012E;
}
.bookingFromModel .bkPhoneConsult .bkConsultFee {
	color: #C8012E;
}
.bookingFromModel .bkPhoneConsult .bkConsultFee .icon-rupyee:before {
	color: #C8012E;
}
.specialitiesCard .specialitiesCardHoldr .learnMore {
	color: #C8012E;
}
.wb_control input:checked~.wb_control__indicator {
	border-color: #C8012E;
}
.wb_checkbox input:checked~.wb_control__indicator {
    background: #C8012E;
    border-color: #C8012E;
}
.inputfield.otpfield .didNotReceived span {
	color: #C8012E;
}
.inputCustamAttach .title .icon-camera-new:before {
	color: #C8012E;
}
.complainTextArea .micIcon {
	background: #C8012E;
}
.inputCustamAttach .inputFileField {
	border-color: #C8012E;
}
.bookingFromModel.bkPaymentModel .modelTitle .bkConsultFee {
	color: #C8012E;
}
.bookingFromModel.bkPaymentModel .modelTitle .bkConsultFee .icon-rupyee:before {
	color: #C8012E;
}
.inputfield input:hover, .inputfield select:hover {
	border-color: #C8012E;
}
.wbDropDown .selected:hover {
	border-color: #C8012E;
}
.wbDropDown .options ul li:after {
	border-color: #C8012E;
}
.audioplayer-bar-played::after {
	background: #C8012E;
	box-shadow: 0px 4px 4px rgba(200, 1, 46, 25%);
}
.inputCustamAttach .inputFileField .icon-plus-circle:before {
	color: #C8012E;
}
.audioplayer-bar-played {
	background: -webkit-linear-gradient(left,#C8012E,#C8012E);
}
.audioplayer-playing .audioplayer-playpause a::before, .audioplayer-playing .audioplayer-playpause a::after {
    background-color: #C8012E;
}
.wbHeader .wbLogo i {
	background-image: linear-gradient(180deg , #C8012E, #C8012E);
}